<h1>Word Puzzle!</h1>
<h2>Create puzzles for your friends by removing the vowels
      from a word or phrase of your choice.</h2>
<form action='/puzzle'>
  <div class='form-group'>
    <label>Please enter a word or phrase:</label>
    <input type="text" name="input" id="input" class="form-control">
  </div>
  <button type="submit" id="submit" class='btn'>Remove vowels!</button>
</form>
