<h1>Change Calculator</h1>
<form action='/'> <!-- path to another page -->
  <div class='form-group'>
    <label></label>
    <input type="" name="" id="" class="form-control">
  </div>
  <button type="submit" id="" class='btn'>Count!</button>
</form>
